.cbtn{
	border: 3px dotted black;
	margin:25px;
	padding: 20px 25px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: aliceblue;
	background-color:rgb(67, 107, 143)
}
.cbtn:hover{
	font-weight: bolder;
}	
#btn{
	position: absolute;
	top:50%;
	left:45%;
}
#back{
	position: absolute;
	top:1%;
	left:1%;
}