*{
	margin: 0px;
	padding: 0px;
}

:root{
	--navbar-height:59px;
}
/*Navigation bar*/
#navbar{
	display:flex;
	align-items: center;
	position: relative;
}
#navbar::before{
	content: "";
	background-color: black;
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	opacity: 0.4;
	z-index: -1;

}
#btnlogin{
	position: absolute;
	left: 93%;

}
#btnsignin{
	position: absolute;
	left: 88%;
}
.logsi{
	padding: 12px 12px;
	margin: 12px 12px;
	border: 2px solid black;
	cursor: pointer;
	background-color: chartreuse;
	color: black;
	font-size: 15px;
	border-radius: 2px;
}
.logsi:hover{
	font-weight: bold;
}


/*Nav Logo*/
#Logo{
	
	margin: 10px 35px;
}
#Logo img{
	display: flex;
	align-items: center;
	width: 100px;
}

/*nav ul*/
#navbar ul{
	display: flex;
	list-style-type: none;
	font-size: 1.3rem;
}
#navbar ul a{
	font-family: "Baloo 2", sans-serif;
	color: aliceblue;
	display: block;
	padding: 3px 20px;
	border-radius: 20px;
	text-decoration: none ;
}
#navbar ul a:hover{
	color: black;
	background-color: white;
	
}

#home{
	display: flex;
	flex-direction: column;
	height: 908px;
	padding: 3px 200px;
	justify-content: center;
	align-items: center;
}
#home::before{
	content: "";
	background:url('../img/bd.jpg') no-repeat center center/cover;
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	opacity: 0.60;
	z-index: -1;

}
#home h1{
	text-shadow: 3px 3px red;
    top: 249px;
    position: absolute;
    color: rgb(62, 45, 83);
    text-align: center;
}
#home p{
	font-family: "Baloo 2", sans-serif;
	color: rgba(0, 44, 177, 0.83);
	text-align: center;
	font-size:1.5rem;
	font-weight: bold;
}
#services{
	margin: 34px;
	display: flex;
}
#services  .box{
	border: 2px solid rgb(158, 54, 54);
	padding: 20px;
	margin: 3px 6px;
	border-radius: 23px;
	background-color: rgb(231, 234, 236);

}

#services .box img{
	height: 160px ;
	margin:auto;
	display: block;

}
#client-section{
	position: relative;
	height:344px ;
}
#client-section::before{
	content: "";
	position: absolute;
	background: url('../img/7a.webp') no-repeat center center/cover;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.4;

}
#clients{
	display: flex;
	justify-content: center;
	align-items: center;

}
.client{
	padding: 34px;
}
.client img{
	height: 124px;
}


#footer{
	background: rgb(0, 0, 0);
	color: white;
	padding: 10px 20px;
	font-size: large;
}
.h-primary{
	font-family: "Playfair Display", serif;
	font-size: 3.8rem;
	padding: 12px;
}
.h-secondary{
	font-family: "Playfair Display", serif;
	font-size: 2.8rem;
	padding: 12px;
}
.btn{
	
	padding: 3px 20px;
	margin: 20px;
	border: 2px solid #ffffff;
	background-color: rgb(255, 0, 0);
	color: white;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
}
.btn:hover{
	font-weight: bold;
}
.center{
	text-align: center;
}
#contact{
	position: relative;

}
#contact::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 194.9%;
	z-index: -1;
	opacity: 0.4;
	background: url('../img/contact.jpg') no-repeat center center/cover; 
}
#contact-box{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 34px;
}
#contact-box form{
	width: 40%;
}
#contact-box label{
	font-family: "Baloo 2", sans-serif;
	font-size:1.3rem; 
}
#contact-box input,
#contact-box textarea{
	width: 100%;
	padding: 0.5rem;
	border-radius: 10px;
	font-size: 1.1rem;
}

